Source: hawaii-shell
Section: misc
Priority: optional
Maintainer: Rohan Garg <rohangarg@kubuntu.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libkf5declarative-dev,
               libkf5i18n-dev,
               libkf5kdelibs4support-dev,
               libkf5runner-dev,
               libkf5service-dev,
               libkf5solid-dev,
               pkg-kde-tools,
               plasma-framework-dev,
               plasma-workspace-dev,
               qtdeclarative5-dev,
               qtquick1-5-dev
Standards-Version: 3.9.5
Homepage: https://github.com/hawaii-desktop/hawaii-shell

Package: hawaii-shell
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: hawaii desktop environment shell
 Hawaii desktop environment shell

Package: sddm-theme-mauiproject
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: mauiproject theme for SDDM
 This package contains the mauiproject theme for sddm

Package: qml-module-org-hawaii-appchooser
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: provides integration of QML and Hawaii - appchooser
 Provides QML appchooser functionality
 .
 This package is part of hawaii-shell.

Package: plasma-widget-appchooser
Architecture: all
Depends: qml-module-org-hawaii-appchooser, ${misc:Depends}, ${shlibs:Depends}
Description: appchooser plasma widget written for Hawaii
 Plasma widget to choose apps in Hawaii Shell
 .
 This package is part of hawaii-shell.

Package: plasma-widget-hawaii-notifications
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: notification plasma widget written for Hawaii
 Plasma widget to show notifications in Hawaii Shell
 .
 This package is part of hawaii-shell.
